@page "{id:int}"
@model HessalWebapp.Pages.Blog.BlogPostModel
@{
}

<section id="Knowledgeone" class="section-knowledge">
    <div class="container bg-primary">
        <div class="row d-flex flex-wrap text-center">
            <h1 class="display-1 section-header">BlogPost1</h1>
        </div>
    </div>
</section>

<section id="Knowledgetwo" class="section-knowledge">
    <div class="container bg-light">
        <h1>@Model.BlogPost.Title</h1>
        <p>@Model.BlogPost.Content</p>
        <p>Date: @Model.BlogPost.Date</p>
    </div>
</section>
<!-- Pages/Blog/BlogPost.cshtml -->



