@page "/Projects"
@model HessalWebapp.Controllers.ProjectsModel
@{
    ViewData["Title"] = "Our Projects";
}

<!--Meta Tags Specific to this Page-->
@section MetaTags {

}

@Html.Partial("_SharedHeader")

<section id="projects_two">
    <div class="container section-projects">
        <div class="options mt-lg-4 mt-md-2 mt-sm-2 mt-2 mb-lg-4 mb-md-2 mb-sm-2 ">
            <ul id="project-filter">
                <li><a data-filter="*">All</a></li>
                <li><a data-filter=".residential">Residentials</a></li>
                <li><a data-filter=".commercial">Commercials</a></li>
                <li><a data-filter=".industrial">Industrial</a></li>
                <li><a data-filter=".hospital">Hospitals</a></li>
                <li><a data-filter=".hotel">Hotels</a></li>
            </ul>
        </div>
        <div class="row portfolio-grid text-style projects-gallery">
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 grid-item project project-light residential" data-category="residential">
                <div class="portfolio-item">
                    <div class="pt-img"><a href="~/lib/src/gallery/P-01.jpg" class="image" title="Project - Emergency Gas Shut-off System"><img src="~/lib/src/gallery/P-01_1.jpg" alt=""></a></div>
                    <div class="item-info">
                        <span class="item-info-title">Residentials</span>
                        <h3>Project - Emergency Gas Shut-off System</h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-8 col-md-8 col-sm-6 col-xs-12 grid-item project industrial" data-category="industrial">
                <div class="portfolio-item">
                    <div class="pt-img"><a href="~/lib/src/gallery/P-03.jpg" class="image" title="Project - Bulk Gas Tank Installation"><img src="~/lib/src/gallery/P-03_3.jpg" alt=""></a></div>
                    <div class="item-info">
                        <span class="item-info-title">Industrial</span>
                        <h3>Project - Bulk Gas Tank Installation</h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 grid-item project commercial" data-category="commercial">
                <div class="portfolio-item">
                    <div class="pt-img"><a href="~/lib/src/gallery/P-04.jpg" class="image" title="Project - Gas Tank Inspection"><img src="~/lib/src/gallery/P-04_4.jpg" alt=""></a></div>
                    <div class="item-info">
                        <span class="item-info-title">Commercials</span>
                        <h3>Project - Gas Tank Inspection</h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-8 col-md-8 col-sm-6 col-xs-12 grid-item project residential" data-category="residential">
                <div class="portfolio-item">
                    <div class="pt-img"><a href="~/lib/src/gallery/P-07.jpg" class="image" title="Project - Artificial LPG Fireplace"><img src="~/lib/src/gallery/P-07_7.jpg" alt=""></a></div>
                    <div class="item-info">
                        <span class="item-info-title">Residentials</span>
                        <h3>
                            Project - Artificial LPG Fire-place
                        </h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 grid-item project hotel" data-category="hotel">
                <div class="portfolio-item">
                    <div class="pt-img"><a href="~/lib/src/gallery/P-02.jpg" class="image" title="Project - Kitchen Equipment Maintenance"><img src="~/lib/src/gallery/P-02_2.jpg" alt=""></a></div>
                    <div class="item-info">
                        <span class="item-info-title">Hotels</span>
                        <h3>Project - Kitchen Equipment Maintenance</h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 grid-item project hospital" data-category="hospital">
                <div class="portfolio-item">
                    <div class="pt-img"><a href="~/lib/src/gallery/P-06.jpg" class="image" title="Project - Kitchen Pipework Installation"><img src="~/lib/src/gallery/P-06_6.jpg" alt=""></a></div>
                    <div class="item-info">
                        <span class="item-info-title">Hospitals</span>
                        <h3>Project - Kitchen Pipework Installation</h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 grid-item project industrial" data-category="industrial">
                <div class="portfolio-item">
                    <div class="pt-img"><a href="~/lib/src/gallery/P-08.jpg" class="image" title="Project - LPG Vaporizer Installation"><img src="~/lib/src/gallery/P-08_8.jpg" alt=""></a></div>
                    <div class="item-info">
                        <span class="item-info-title">Industrial</span>
                        <h3>
                            Project - LPG Vaporizer Installation
                        </h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 grid-item project commercial" data-category="commercial">
                <div class="portfolio-item">
                    <div class="pt-img"><a href="~/lib/src/gallery/P-09.jpg" class="image" title="Project - LPG Reticulation Pipework"><img src="~/lib/src/gallery/P-09_9.jpg" alt=""></a></div>
                    <div class="item-info">
                        <span class="item-info-title">Commercials</span>
                        <h3>Project - LPG Reticulation Pipework</h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 grid-item project residential" data-category="residential">
                <div class="portfolio-item">
                    <div class="pt-img">
                        <a href="~/lib/src/gallery/P-10.jpg" class="image" title="Project - Solenoid Valve Installation"><img src="~/lib/src/gallery/P-10_10.jpg" alt=""></a>
                    </div>
                    <div class="item-info">
                        <span class="item-info-title">Residentials</span>
                        <h3>Project - Solenoid Valve Installation</h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-8 col-md-8 col-sm-6 col-xs-12 grid-item project commercial" data-category="commercial">
                <div class="portfolio-item">
                    <div class="pt-img"><a href="~/lib/src/gallery/P-05.jpg" class="image" title="Project - LPG Cylinder Installation"><img src="~/lib/src/gallery/P-05_5.jpg" alt=""></a></div>
                    <div class="item-info">
                        <span class="item-info-title">Commercial</span>
                        <h3>Project - LPG Cylinder Installation</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="load-more-items">
        <a href="#" title="">Load more</a>
    </div><!--load-more-items end-->

</section>
