@page
@model HessalWebapp.Pages.ProjectsModel
@{ViewData["Title"] = "Our Projects";
}

<div>

</div>

<section class="section">
    <div><h1 class="display-4 text-center my-4"> @ViewData["Title"] </h1></div>
</section>
