<div id="content-earthing">
    <p class="paragraph-text">
        The earthing conductor should be connected to the tank using a suitable connector and the grounding rod
        should be placed in an area with good conductivity, such as moist soil. It is important to note that this is a
        job that should be done by a qualified electrician or other professional with experience in gas tank earthing.
    </p>
    <h2>How earthing is done to an LPG Tank</h2>
    <ul class="list-lpg paragraph-text">
        <li>
            <strong>Locate a suitable spot for the grounding rod:</strong> The grounding rod should be placed in an
            area with good conductivity, such as moist soil. It should also be located close to the LPG gas tank.
        </li>
        <li>
            <strong>Drive the grounding rod into the ground:</strong> Use a manual or power-driven tool to drive the
            grounding rod into the ground to a depth of at least 6 feet.
        </li>
        <li>
            <strong>Attach the grounding wire to the tank:</strong> Use a suitable connector to attach the grounding
            wire to the LPG gas tank. Make sure that the connection is secure and will not come loose over time.
        </li>
        <li>
            <strong>Run the grounding wire to the grounding rod:</strong> Route the grounding wire from the LPG gas
            tank to the grounding rod. The wire should be buried underground to protect it from damage.
        </li>
        <li>
            Connect the grounding wire to the grounding rod: Use a connector to attach the grounding wire to the
            grounding rod. Make sure that the connection is secure and will not come loose over time.
        </li>
        <li>
            <strong>Test the grounding system:</strong> Use a continuity tester to check that there is an electrical
            connection between the LPG gas tank, the grounding wire, and the grounding rod. The tester should indicate
            continuity between these three points.
        </li>
        <li>
            <strong>Repeat the process for all LPG gas tanks on the property:</strong> Repeat the process for all LPG
            gas tanks on the property, making sure that each tank is properly grounded and that all grounding wires are
            securely connected to the grounding rod.
        </li>
    </ul>
    <br />
    <p class="paragraph-text">
        It's very important to note that this is a job that should be done by a qualified electrician or other
        professional with experience in gas tank earthing. Improper installation can pose a serious risk of fire or
        explosion, so it is important to follow proper safety procedures and guidelines
    </p>
</div>