<div id="content-fire-prevention">
    <ul class="list-lpg paragraph-text">
        <li>
            <strong>Leaks: </strong>Leaks in the LPG system can cause gas to accumulate in an area, increasing the
            risk of fire.
        </li>
        <li>
            <strong>Improper installation: </strong>LPG equipment that is not installed properly can increase the risk
            of fire, particularly if it is not connected properly or if it is placed too close to heat sources
        </li>
        <li>
            <strong>Poor maintenance: </strong>LPG appliances and equipment require regular maintenance to ensure they
            are in good working order. Failure to perform regular maintenance can increase the risk of fire.
        </li>
        <li>
            <strong>Human error: </strong>LPG-related fires can occur due to human error, such as accidentally turning
            off the wrong valve or mishandling the LPG tanks or cylinder.
        </li>
        <li>
            <strong>Natural disasters: </strong>LPG-related fires can occur due to natural disasters such as
            earthquakes, floods, or hurricanes that can damage the appliances, piping, and storage tanks.
        </li>
        <li><strong>Overheating: </strong>LPG appliances that overheat can cause a fire.</li>
        <li>
            <strong>Misuse: </strong>Using LPG appliances for purposes other than which they are intended, or not
            following the manufacturer's instructions can increase the risk of fire.
        </li>
    </ul>
    <p class="paragraph-text">
        It's important to follow the safety precautions and guidelines when using LPG and to have regular maintenance
        and check-ups to minimize the risk of fire or explosion. It's also important to be aware of the signs of gas
        leaks, like a strong smell of rotten eggs, hissing sounds, and dead or dying plants.
    </p>
    <h2>Fire Prevention Measures for your LPG system</h2>
    <p class="paragraph-text">There are several steps you can take to prevent fires as a result of LPG (Liquefied Petroleum Gas) leaks:</p>
    <ul class="list-lpg paragraph-text">
        <li>
            <strong>Regular inspection and maintenance: </strong>Have your LPG system and appliances inspected by a
            qualified professional on a regular basis. This will ensure that any leaks or other issues are detected and
            repaired before they become a safety hazard.
        </li>
        <li>
            <strong>Use only approved appliances and equipment: </strong>Only use appliances and equipment that have
            been approved for use with LPG. These will have the appropriate safety features and will have been tested to
            ensure they are safe to use.
        </li>
        <li>
            <strong>Store LPG tanks and cylinders safely:</strong>Store LPG tanks and cylinders in a well-ventilated
            area, away from heat sources, and in an upright position. Make sure they are secured to prevent them from
            falling over.
        </li>
        <li>
            <strong>Proper ventilation:</strong>Make sure that the room or area where the LPG appliances are located
            is well ventilated. This will help to dissipate any gas that may leak, reducing the risk of fire or
            explosion.
        </li>
        <li>
            <strong>Use a gas leak detector: </strong>Install a gas leak detector in the area where the LPG appliances
            are located. This will alert you to the presence of gas, giving you time to take action to prevent a fire.
        </li>
        <li>
            <strong>Follow the manufacturer's instructions: </strong>Follow the manufacturer's instructions for using
            and maintaining your LPG appliances and equipment.
        </li>
        <li>
            <strong>Have a fire extinguisher nearby: </strong>Keep a fire extinguisher nearby in case of emergency.
        </li>
        <li>
            <strong>Regularly check for leaks: </strong>Be aware of the signs of gas leaks, like a strong smell of
            rotten eggs, hissing sounds, and dead or dying plants.
        </li>
    </ul>
    <p class="paragraph-text">
        By following these safety precautions and regularly inspecting and maintaining your LPG system and
        appliances, you can reduce the risk of fire and ensure the safe and efficient use of LPG as a fuel source.
    </p>
    <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item"
                src="https://www.youtube.com/embed/5Jm5Parg688" title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                allowfullscreen></iframe>
    </div>
</div>