@section MetaTags {
    <meta name="description"
          content="Liquified Petroleum Gas, What is it? Where does it come from and why do we use it? Find out more.">
    <meta property="og:title" content="What is LPG?">
    <meta property="og:description"
          content="Liquified Petroleum Gas, What is it? Where does it come from and why do we use it? Find out more.">
    <meta name="keywords"
          content="LPG Design, LPG Installation, LPG Maintenance, LPG Appliances, LPG Safety, LPG Leak Detection, LPG Benefits, LPG Uses, LPG Production, LPG Fires, LPG Tanks, LPG Earthing">
}

<div id="content-lpg">
    <p class="paragraph-text">LPG has several common uses, some of which are:</p>
    <ul class="list-lpg paragraph-text">
        <li>
            <strong>Cooking and heating:</strong> LPG is commonly used as a fuel source for cooking and heating in
            residential and commercial settings. It is used in gas stoves, ovens, and also in central heating systems.
        </li>
        <li>
            <strong>Transportation:</strong> LPG is used as a fuel source for vehicles, particularly in rural and
            remote areas where gasoline and diesel may not be readily available.
        </li>
        <li>
            <strong>Industrial uses:</strong> LPG is used as a feedstock in the petrochemical industry to produce a
            wide range of products such as plastics, synthetic rubber, and fertilizers.
        </li>
        <li>
            <strong>Power generation:</strong> LPG is used to generate electricity in power plants and in remote or
            off-grid locations.
        </li>
        <li>
            <strong>Agriculture:</strong> LPG is used to dry crops, power irrigation pumps, and as a fuel source for
            farm equipment.
        </li>
        <li><strong>Leisure:</strong> LPG is used as a fuel source for boats, recreational vehicles, and campers.</li>
        <li>
            <strong>Commercial:</strong> LPG is used in a wide range of commercial and industrial settings, such as
            restaurants, hotels, and factories. It is also used to fuel forklifts, scissor lifts, and other industrial
            equipment.
        </li>
    </ul>
    <p class="paragraph-text pt-3">Why would you choose to use LPG over energy sources. Here are some reasons why:</p>
    <ul class="list-lpg paragraph-text">
        <li>
            <strong>Clean-burning:</strong> LPG is a clean-burning fuel, producing fewer emissions than traditional
            fossil fuels like coal and oil. This makes it a more environmentally-friendly choice.
        </li>
        <li>
            <strong>Portability:</strong> LPG is a portable fuel source, which makes it suitable for use in remote or
            off-grid areas where other fuel sources may not be readily available.
        </li>
        <li>
            <strong>Cost-effective:</strong> LPG is a cost-effective fuel source, and can be stored for long periods
            of time without degradation. It also tends to be cheaper than other fossil fuels like gasoline and diesel,
            making it a more affordable choice.
        </li>
        <li>
            <strong>Safe:</strong> LPG is non-toxic and non-corrosive, which makes it safer to handle and transport
            than other fuels. Additionally, when handled properly, it poses a low risk of fire or explosion.
        </li>
        <li>
            <strong>Reliability:</strong> LPG is a reliable fuel source and can be stored for long periods of time,
            ensuring a steady supply of energy.
        </li>
        <li>
            <strong>Versatility:</strong> LPG has a wide range of uses, from cooking and heating to transportation and
            power generation, making it a versatile fuel source.
        </li>
        <li>
            <strong>Energy efficient:</strong> LPG appliances tend to be more energy efficient than electric ones,
            which can result in lower energy bills.
        </li>
    </ul>
    <p class="paragraph-text pt-3">
        Liquefied Petroleum Gas (LPG) is a flammable and explosive fuel, and as such, it poses certain dangers if not
        handled and stored properly. Some of the clear dangers of using LPG as a fuel source include:
    </p>
    <ul class="list-lpg paragraph-text">
        <li>
            <strong>Fire and explosion risk:</strong> LPG is highly flammable and explosive, and if a leak occurs, it
            can easily ignite and cause a fire or explosion.
        </li>
        <li>
            <strong>Asphyxiation:</strong> If LPG leaks into an enclosed space, it can displace oxygen and cause
            asphyxiation. This can be particularly dangerous in confined spaces such as basements or attics.
        </li>
        <li>
            <strong>Health hazards:</strong> Long-term exposure to LPG can cause respiratory problems and other health
            issues. Additionally, LPG leaks can cause headaches, nausea, and dizziness.
        </li>
        <li>
            <strong>Leak detection:</strong> LPG is odorless and colorless, so it can be difficult to detect leaks.
            Special sensors and alarms are required to detect leaks and ensure the safety of the users.
        </li>
        <li>
            <strong>Transportation and storage:</strong> LPG needs to be stored in special tanks and transported in
            special vehicles, this can add to the cost and complexity of distribution.
        </li>
        <li>
            <strong>Quality control:</strong> LPG quality varies depending on where it is sourced and how it is
            stored, it's important to check for impurities and make sure it's of good quality.
        </li>
    </ul>
    <p class="paragraph-text pt-4">
        It's important to handle and store LPG in accordance with the regulations and guidelines established by the
        relevant authorities. Regular maintenance and inspections of LPG systems, including appliances, tanks, and
        piping, are crucial to ensure the safety of users and minimize the risk of accidents.
    </p>
    <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item"
                src="https://www.youtube.com/embed/Piab1TuU7lI" title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                allowfullscreen></iframe>
    </div>
</div>