<div class="content-ndt-testing">
    <ul class="list-lpg">
        <li>
            <strong>Ultrasonic testing (UT): </strong>This method uses high-frequency sound waves to detect any
            defects or thickness variations in the tank wall.
        </li>
        <li>
            <strong>Magnetic particle testing (MT): </strong>This method uses a magnetic field to detect any surface
            or near-surface defects in the tank wall.
        </li>
        <li>
            <strong>Dye penetrant inspection (DPI): </strong>This method uses a dye that is applied to the surface of
            the tank. Any defects in the tank wall will allow the dye to penetrate, making them visible for inspection.
        </li>
        <li>
            <strong>Radiographic testing (RT): </strong>This method uses X-rays or gamma rays to create an image of
            the inside of the tank, allowing for the detection of any internal defects.
        </li>
        <li>
            <strong>Acoustic Emission Testing (AE): </strong>This method uses sensors to detect and locate the source
            of an acoustic emission, which can indicate the presence of a defect or a crack on the tank.
        </li>
    </ul>
    <p>
        NDT methods provide a safe and efficient way to evaluate the integrity of LPG tanks and identify any
        potential issues before they become a problem. These methods are commonly used as part of a regular
        maintenance program, they are also used when tanks are put out of service for a period of time or when they
        are put back in service after repair.
    </p>
    <p>
        It's important to note that these methods should be performed by trained and qualified technicians, following
        the manufacturer's instructions and industry standards
    </p>
</div>