<div class="content-plastic">
    <p>
        Polyethylene (PE) pipes are suitable for use with LPG because they have good chemical resistance and can
        withstand the high temperatures and pressures associated with LPG. They are also lightweight and easy to
        install, which makes them a popular choice for LPG distribution systems.
    </p>
    <p>
        PVC pipes are also suitable for use with LPG, however, they have a limited temperature range and are not
        recommended for use in systems where the temperature exceeds 60°C. PVC pipes are also not as durable as PE
        pipes and are more prone to cracking and damage.
    </p>
    <p>
        It's important to note that for both types of plastic pipes, the pipes and fittings must meet the relevant
        safety standards and must be properly installed and maintained to ensure safe and reliable operation.
    </p>
    <p>
        It is also important to consider that LPG has a high vapor density than air, so it can accumulate in
        low-lying areas, that's why the LPG piping must be adequately ventilated.
    </p>
    <h2>Plastic Pipes for LPG</h2>
    <p>
        The two most common types of plastic pipes used for LPG (liquid petroleum gas) distribution are polyethylene
        (PE) and polyvinyl chloride (PVC) pipes.
    </p>
    <ul class="list-lpg">
        <li>
            <strong>Polyethylene (PE) pipes: </strong>These pipes are made from a thermoplastic polymer and are
            suitable for use with LPG because they have good chemical resistance and can withstand the high temperatures
            and pressures associated with LPG. They are also lightweight and easy to install, which makes them a popular
            choice for LPG distribution systems. They are available in different grades and thicknesses, such as PE80
            and PE100.
        </li>
        <li>
            <strong>Polyvinyl chloride (PVC) pipes: </strong>These pipes are also made from a thermoplastic polymer
            and are suitable for use with LPG, however, they have a limited temperature range and are not recommended
            for use in systems where the temperature exceeds 60°C. PVC pipes are also not as durable as PE pipes and are
            more prone to cracking and damage. PVC pipes are available in different grades and thicknesses, such as
            uPVC, cPVC.
        </li>
    </ul>
    <div class="section-content mb-20">
        <div class="projects-carousel js-projects-carousel js-projects-gallery">
            <div class="project project-light">
                <a href="/img/bg/Pexal-Pipe.webp" title="Pex-Al Pipe & Fittings">
                    <figure>
                        <img alt="" src="/img/bg/projects/Pexal-Pipe_1.webp">
                        <figcaption>
                            <h3 class="project-title">Pex-Al<br>Pipes</h3>
                            <div class="project-zoom"></div>
                        </figcaption>
                    </figure>
                </a>
            </div>
            <div class="project project-light">
                <a href="/img/bg/Tigris-1.webp" title="Press-Fit Tee">
                    <figure>
                        <img alt="" src="/img/bg/projects/Tigris-1_1.webp">
                        <figcaption>
                            <h3 class="project-title">Press-Fit<br>Tee</h3>
                            <div class="project-zoom"></div>
                        </figcaption>
                    </figure>
                </a>
            </div>
            <div class="project">
                <a href="/img/bg/Tigris-2.webp" title="Press-Fit Reducer">
                    <figure>
                        <img alt="" src="/img/bg/projects/Tigris-2_1.webp">
                        <figcaption>
                            <h3 class="project-title">Press-Fit<br>Reducer</h3>
                            <div class="project-zoom"></div>
                        </figcaption>
                    </figure>
                </a>
            </div>
            <div class="project">
                <a href="/img/bg/Pexal-02.webp" title="Press-Fit">
                    <figure>
                        <img alt="" src="/img/bg/projects/Pexal-02_1.webp">
                        <figcaption>
                            <h3 class="project-title">Press-Fit</h3>
                            <div class="project-zoom"></div>
                        </figcaption>
                    </figure>
                </a>
            </div>
            <div class="project">
                <a href="/img/bg/Fitting-1.webp" title="Gas Compression Fitting">
                    <figure>
                        <img alt="" src="/img/bg/projects/Fitting-1_1.webp">
                        <figcaption>
                            <h3 class="project-title">Compression<br>Fitting</h3>
                            <div class="project-zoom"></div>
                        </figcaption>
                    </figure>
                </a>
            </div>
        </div>
    </div>
    <p>
        It's important to note that for both types of plastic pipes, the pipes and fittings must meet the relevant
        safety standards such as AS/NZS 1477:2013 and must be properly installed and maintained to ensure safe and
        reliable operation.
    </p>
</div>