@page "{id:int}"
@model HessalWebapp.Controllers.BlogPostModel
@{
    ViewData["Title"] = Model.BlogPost.Title;
}

<section>
    <div id="post-header" class="bg-primary">
        <div class="post single"><div class="post-image"></div></div>
    </div>
</section>

<section id="post-content" class="section-knowledge">
    <div class="container post single">
        <div class="post-content">
            <h1>@Model.BlogPost.Title</h1>
            <p>@Model.BlogPost.Author</p>
            <p>@Model.BlogPost.Content</p>
            <p>Date: @Model.BlogPost.PublishedDate</p>
        </div>
    </div>
</section>
